.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: normal;
  min-height: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  height: 0;
  font-size: 1.2em;
}

.App-link {
  color: #09d3ac;
}

.CommandMenu {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 1.5em;
}

.CommandMenu ul {
    margin-block-start: unset;
    margin-block-end: unset;
    padding-inline-start: unset;
    text-align: left;
}

.CommandMenu li {
    display: inline-flex;
    list-style: none;
    padding-inline-end:  4px;
}

.Contents {
    width: 100%;
    display: flex;
    flex-flow: row;
}

.AnimPane {
    width: 30%;
    display: flex;
    flex-flow: column;
}

.EditPane {
    width: 70%;
    flex-flow: column;
}


.ColorEdit {
    display: flex;
    flex-flow: row;
}

.Matrix {
  background-color: #888;
  background-image: linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444), linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444);
  background-position: 0 0, 8px 8px;
  background-size: 16px 16px;
}

.EntireMap {
  margin: 20px;
  background-color: #888;
  background-image: linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444), linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444);
  background-position: 0 0, 8px 8px;
  background-size: 16px 16px;
}

.ColorPicker {
    display: flex;
    flex-direction: row;
    margin: 4px 2px;
}

.ColorPicker .ColorValues {
    margin: unset;
    padding-inline-start: unset;
}

.ColorPicker .ColorValues li {
    list-style: none;
}

.ColorPicker .ColorValues li label span {
    width: 8px;
}

.ColorPicker .ColorValues input[type="number"] {
    color: white;
    background-color: transparent;
    border-color: dimgray;
    border-style: inset;
    border-width: thin;
    width: 3em;
    text-align: right;
}

.ColorPicker .ColorValues input[type="range"] {
    width: 256px;
    height: 1em;
}

.ColorPalette {
    margin: 4px 0px;
    width: 198px;
    height: 90px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ColorPalette ul {
    padding-inline-start: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    display: flex;
    flex-flow: row wrap;
}

.ColorPalette li {
    list-style: none;
    alignment: center;
    vertical-align: center;
    border: dimgray solid 1px;
    margin: 1px;
    border-radius: 5px;
}

.ColorPalette li.Palette {
    background-color: #888;
    background-image: linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444), linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444);
    background-position: 0 0, 8px 8px;
    background-size: 16px 16px;
}

.ColorPalette li div {
    width: 26px;
    height: 26px;
}

.AnimStrip {
    height: 570px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.AnimStrip ul {
    padding-inline-start: unset;
    margin-block-start: unset;
    margin-block-end: unset;
}

.AnimStrip li div {
    list-style: none;
    vertical-align: center;
    border: dimgray solid 1px;
    margin: 1px;
    width: 64px;
    height: 64px;
}